@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap');

@font-face {
    font-family:"Marcellus-Regular";
    src: url("../fonts/Marcellus-Regular.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
}

ul, .btn {
    font-family: 'Jost', sans-serif;
    font-weight: 100;
    font-size: 1.25em;
}


p {
    font-family: 'Jost', sans-serif;
    font-weight: 100;
    font-size: 1.45em;
}


footer .footer-brand img {
    width: 65%;
}

input::placeholder, textarea::placeholder {
    font-family: "Lato", serif;
    font-weight: 300;
}

.three-circles-section .rounded-circle p {
    font-family: 'Jost', sans-serif;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.jumbotron {
    height: 500px;
    background-size: cover;
}

.contact-cta {
    background: #193952;
    border-radius: 30px;
    padding: 14px 100px;
    border: 0;
    margin: 80px auto 100px auto;
    transition: all 0.3s;
}

section.page, .three-circles-section, .testimonials-section {
    background-color: blanchedalmond;
}

.btn-primary:hover {
    background-color: slategrey;
    border-color: slategrey;
}


.banner .container-fluid h2 span {
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.3);
    line-height: 70px;
    -webkit-box-decoration-break: clone;
    padding: 0 10px;
}
.about-us-section {
    background-color: #7ca4a2;
    color: white;
}

.testimonials-section .list-testimonials .testimonial-box {
    background-color: white;
}

a.transparent-button {
    color: white;
    border: 1px solid white;
    padding: 8px 20px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
}

.fa {
    width: 40px;
    height: 40px;
    color: #1a3854 !important;
    background-color: #FFF;
    border: 1px solid #1a3854;
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
    text-decoration: none;
    text-align: center;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #1a3854;
}


.about-us-section .description {
    text-align: right;
}

.about-us-section .description p {
    font-size: 1.25em;
    line-height: 34px;
}

.testimonials-section .heading {
    margin-bottom: 40px;
}

.testimonials-section p {
    font-size: 1.25em;
}

.testimonials-section h2 {
    margin-bottom: 20px;
}

.navbar-wrapper .toggler-icon {
    height: 2px;
}

.about-us-section .author-image {
    max-width: 500px;
}

.testimonials-section .list-testimonials .testimonial-box p {
    font-size: 1.25em;
}

.on-scroll-image.right {
    right: 0;
    left: unset;
}

.languages {
    list-style: none;
}

.about-us-section .on-scroll-image {
    top:200px;
    left: 80px;
}

.list-inline-item .fa {
    font-size: 1rem;
}

.banner .slide:before {
    background: rgba(0, 0, 0, 0);
}

footer ul li {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 0.8em;
}

.rounded-circle, .card-img-top {
    height: 140px;
    width: 140px;
}

.copy-text {
    color: #d2d2d2
}

.page blockquote p{
    color: brown;
    font-style: italic;
    font-weight: bold;
}

.service-page p, .contact-page p  {
    color: black;
}

@media (max-width: 767px) {

    .banner .container-fluid h2 span {
        line-height: 55px;
    }
    .about-us-section .description {
        text-align: center;
    }

    .testimonials-section .heading, .testimonials-section h2 {
        text-align: center;
    }

    .contact-cta span {
        display: none;
    }

    .contact-cta {
        padding: 14px 60px;
    }

    footer {
        text-align: center;
    }

    .three-circles-section h2 {
        font-size: 1.2em;
        margin-bottom: 40px;
    }

    .three-circles-section {
        padding-top: 50px;
    }

    .about-us-section .description p {
        font-size: 1.1em;
    }

    .jumbotron {
        height: 260px;
    }

    p, ul, .btn {
        font-size: 1.1em;
    }

    .service-box .card-text {
        max-width: 210px;
    }

    .service-box .card-text {
        font-size: 1em;
    }

    .rounded-circle, .card-img-top {
        height: 130px;
        width: 130px;
    }
}



